<footer class="site-footer">
  <div class="wrapper wrapper-middle">
    <h2 class="footer-heading">
      <a href="{{ site.baseurl }}/">about</a>
    </h2>
    
    <ul class="contact-list">
      <li>
        <a class='fa fa-github'></a>
      </li>

      <li>
        <a class='fa fa-rss'></a>
      </li>

      <li>
        <a class='fa fa-twitter'></a>
      </li>

      <li>
        <a class='fa fa-google-plus'></a>
      </li>

      <li>
        <a class='fa fa-linkedin'></a>
      </li>
    </ul>
  </div>
</footer>
