/**
* Site header
*/
.site-header {
  min-height: 56px;
  text-align: center;
}

.site-title {
  font-family: "Boogaloo", cursive;
  font-size: 36px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  color: $brand-color;

  &,
  &:visited {
    color: $brand-color;
  }
}

/**
* Site footer
*/
.site-footer {
  text-align: center;
  padding: $spacing-unit 0;
}

.license {
  font-size: 0.7rem;
}

@include media-query($on-laptop) {
}

@include media-query($on-palm) {
}

/**
* Page content
*/
.page-content {
  padding: $spacing-unit 0;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
  margin-bottom: 0;
}

.post-list-item p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

/**
* Posts
*/
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  font-size: 1.3rem;
  line-height: 2rem;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

.about-profile-img {
  float: left;
  margin-right: 1em;
  border-radius: 5px;
}

.main-content {
  display: flex;
}

.cdc-elixir {
  display: block;
  width: 240px;
  padding: 20px;
  text-align: center;
}

.blog-aside {
  padding: 20px;

  .post-list {
    list-style-type: square;
    list-style-position: inside;
  }
  .post-list-item {
    margin: 0;
  }
}

@include media-query($on-palm) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }
}

@include media-query($on-laptop) {
  .cdc-elixir {
    width: 200px;
  }
}
