/**
* Site header
*/
.site-header {
  min-height: 56px;
  text-align: center;
}

.site-title {
  font-family: "Boogaloo", cursive;
  font-size: 36px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  color: $brand-color;

  &,
  &:visited {
    color: $brand-color;
  }
}

/**
* Site footer
*/
.site-footer {
  text-align: center;
  padding: $spacing-unit 0;
}

.license {
  font-size: 0.7rem;
}

@include media-query($on-laptop) {
}

@include media-query($on-palm) {
}

/**
* Page content
*/
.page-content {
  padding: $spacing-unit 0;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
  margin-bottom: 0;
}

.post-list-item p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

/**
* Posts
*/
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  font-size: 1.3rem;
  line-height: 2rem;

  h2 {
    font-size: 28px;

    @include media-query($on-laptop) {
      font-size: 24px;
    }
  }

  h3 {
    font-size: 24px;

    @include media-query($on-laptop) {
      font-size: 20px;
    }
  }

  h4 {
    font-size: 18px;

    @include media-query($on-laptop) {
      font-size: 16px;
    }
  }
}

.about-profile-img {
  float: left;
  margin-right: 1em;
  border-radius: 5px;
}

.main-content {
  width: 100%;
}

.main {
  max-width: calc(100% - 360px);
  float: left;
}

.cdc-elixir {
  display: block;
  max-width: 240px;
  padding: 20px;
  text-align: center;
}

.blog-aside {
  padding: 20px;
  max-width: 360px;
  float: left;
  box-sizing: border-box;

  .post-list {
    list-style-type: square;
    list-style-position: inside;
  }
  .post-list-item {
    margin: 0;
  }
}

@include media-query($on-palm) {

}

@include media-query($on-laptop) {
  .main {
    width: 100%;
    max-width: 100%;
  }

  .blog-aside {
    width: 100%;
    max-width: 100%;
  }
}

.img-attribution {
  font-size: $small-font-size;
  font-style: italic;
}
