<!DOCTYPE html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}">
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="main-content">
          <section class="main">
            {{ content }}
          </section>

          {% include aside.html %}
        </div>
      </div>
    </div>

    {% include footer.html %}
    {% include cookie-consent.html %}
  </body>
</html>
